In [1]:
from synthpop.recipes.starter import Starter
from synthpop.synthesizer import synthesize_all, enable_logging 
import os
import pandas as pd

In [2]:
starter = Starter(os.environ["CENSUS"], "MI", "Macomb County")

In [ ]:
#26,099,230200,03003,03900
#26,099,230300,03003,03900
#26,099,230400,03003,03900
#26,099,230500,03003,03900
#26,099,230601,03003,03900
#26,099,230602,03003,03900
#26,099,230700,03003,03900
#26,099,230800,03003,03900
#26,099,230900,03003,03900
#26,099,231000,03003,03900

In [3]:
ind = pd.Series(["26", "099", "230200", "1"], index=["state", "county", "tract", "block group"])

In [4]:
%time households, persons, fit = synthesize_all(starter, indexes=[ind])

Synthesizing at geog level: 'block_group' (number of geographies is 627)
Synthesizing geog id:
state              26
county            099
tract          230200
block group         1
dtype: object
Drawing 311 households
CPU times: user 1.92 s, sys: 196 ms, total: 2.12 s
Wall time: 2.33 s

/home/da/anaconda2/lib/python2.7/site-packages/SynthPop-0.1.dev0-py2.7.egg/synthpop/draw.py:157: FutureWarning: diff is deprecated. Use difference instead
  diff = constraints.index.diff(counts.index)

In [5]:
households.head(3)

,ACR,ADJHSG,ADJINC,AGS,BATH,BDSP,BLD,BUS,CONP,DIVISION,...,serialno,cars,workers,children,income,cat_id,state,county,tract,block group
0,NaN,1000000,1008425,NaN,1,1,9,NaN,NaN,3,...,2014001317052,none,none,no,lt35,2,26,099,230200,1
1,NaN,1031130,1041654,NaN,1,2,7,NaN,NaN,3,...,2012000171583,none,none,yes,lt35,5,26,099,230200,1
2,NaN,1031130,1041654,NaN,1,1,9,NaN,NaN,3,...,2012000368411,none,none,yes,lt35,5,26,099,230200,1

In [8]:
persons.head(3)

,serialno,RT,SPORDER,PUMA00,PUMA10,ST,ADJINC,PWGTP,AGEP,CIT,...,PWGTP76,PWGTP77,PWGTP78,PWGTP79,PWGTP80,age,race,sex,cat_id,hh_id
0,2012000030460,P,1,-9,08502,06,1010207,18,46,4,...,5,28,21,16,6,35 to 60,asian,female,16,0
1,2012000030460,P,1,-9,08502,06,1010207,18,46,4,...,5,28,21,16,6,35 to 60,asian,female,16,6
2,2012000030460,P,1,-9,08502,06,1010207,18,46,4,...,5,28,21,16,6,35 to 60,asian,female,16,20

In [9]:
fit

{BlockGroupID(state='06', county='085', tract='508203', block_group='3'): FitQuality(household_chisq=1033957.2104660122, household_p=0.0, people_chisq=86.359051234185131, people_p=4.0257811248627773e-07)}

In [13]:
starter = Starter(os.environ["CENSUS"], "MD", "Montgomery County")

In [15]:
ind = pd.Series(["24", "031", "700101", "1"], index=["state", "county", "tract", "block group"])

In [17]:
%time households, persons, fit = synthesize_all(starter, indexes=[ind])

Synthesizing at geog level: 'block_group' (number of geographies is 614)
Synthesizing geog id:
state              24
county            031
tract          700101
block group         1
dtype: object
Drawing 548 households
CPU times: user 873 ms, sys: 39.7 ms, total: 913 ms
Wall time: 929 ms