In [7]:
import pandas as pd

In [8]:
dfp=pd.read_csv("pums_p_26.csv",dtype=object)

In [9]:
dfp.head(2)

,RT,SERIALNO,SPORDER,PUMA00,PUMA10,ST,ADJINC,PWGTP,AGEP,CIT,...,PWGTP71,PWGTP72,PWGTP73,PWGTP74,PWGTP75,PWGTP76,PWGTP77,PWGTP78,PWGTP79,PWGTP80
0,P,2010000000033,01,03500,-0009,26,1094136,00004,63,1,...,00004,00007,00005,00004,00007,00005,00006,00001,00001,00004
1,P,2010000000033,02,03500,-0009,26,1094136,00005,24,1,...,00005,00008,00006,00007,00008,00006,00008,00002,00000,00006

In [10]:
pumayear='PUMA00'
pumas=dfp[pumayear].unique()
dfp=dfp.set_index([pumayear])

In [11]:
dfp.head(2)

,RT,SERIALNO,SPORDER,PUMA10,ST,ADJINC,PWGTP,AGEP,CIT,CITWP05,...,PWGTP71,PWGTP72,PWGTP73,PWGTP74,PWGTP75,PWGTP76,PWGTP77,PWGTP78,PWGTP79,PWGTP80
PUMA00,,,,,,,,,,,,,,,,,,,,,
03500,P,2010000000033,01,-0009,26,1094136,00004,63,1,NaN,...,00004,00007,00005,00004,00007,00005,00006,00001,00001,00004
03500,P,2010000000033,02,-0009,26,1094136,00005,24,1,NaN,...,00005,00008,00006,00007,00008,00006,00008,00002,00000,00006

In [12]:

for x in pumas:
    dfp_t=dfp.loc[x].reset_index()
    dfp_t.to_csv(pumayear.lower()+"_p_26_"+str(x)+".csv")

In [ ]:
pumas